.btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.btn-list__item {
  margin: 8px;
}

.project-list {
  @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
  }
}

.project-list__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 3);
  }
}

.project-list__link {
  width: 100%;
  position: relative;
  color: inherit;
  transition: box-shadow $transition-duration $transition-type-basic;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;
  transform: translateY(102%);

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;

  background-color: $project-overlay-color;
  color: $secondary-accent-color;

  transition: transform $transition-duration $transition-type-basic;

  .project-list__link:hover &,
  .project-list__link:focus & {
    transform: translateY(0);
  }
}

.project__img {
  width: 100%;
  height: auto;
}

.project-meta {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-meta__title {
  margin-bottom: 4px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-meta__text {
  font-size: 16px;
  line-height: 1.88;
}
