.menu-btn {
  display: block;
  margin-left: auto;

  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;

  &:hover,
  &:focus {
    fill: $primary-accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-btn .icon-close {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
  fill: currentColor;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    overflow-y: hidden;

    z-index: 1;

    transform: translateY(-120%);
    transition: transform $transition-duration $transition-type-basic;

    background-color: #fff;
  }

  &.is-open {
    transform: translateY(0);
  }

  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}
